<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @professor.department %>
</p>

<p>
  <strong>School:</strong>
  <%= @professor.school %>
</p>

<p>
  <strong>School name:</strong>
  <%= @professor.school_name %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
